body {
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 0.5rem 0.3rem;

  --bg: white;
  --text: black;
  --button-bg: #f0f0f0;
  --button-text: black;

  --accent: #FE273F;

  background: var(--bg);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  body {
    --bg: #1f2028;
    --text: #F3F3F3;
    --button-bg: #1d2026;
    --button-text: #F3F3F3;
  }
}

.title {
  margin-top: 0 !important;
  font-size: large !important;
  font-family: "Arial Black", Helvetica, sans-serif !important;
  font-weight: 900 !important;
  font-stretch: condensed !important;
  opacity: 0.8;

  text-decoration: underline;
  text-decoration-color: var(--accent);
}

.buttons {
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
  opacity: 0.5;
}

.blockButton {
  padding: 1rem 0.5rem;
}

button {
  position: relative;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--button-bg);
  color: var(--text);
  font-size: 0.8rem;
  margin: 0.4rem 0rem;
}

button::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-color: grey;
  background-size: 15px, 15px;
  z-index: -1;
  border-radius: inherit;
}

/* Based on: https://stackoverflow.com/a/52963366 */
button:hover::before {
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(90deg, var(--accent) 50%, transparent 50%), linear-gradient(90deg, var(--accent) 50%, transparent 50%), linear-gradient(0deg, var(--accent) 50%, transparent 50%), linear-gradient(0deg, var(--accent) 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
  background-position: left top, right bottom, left bottom, right top;
  animation: animate 0.5s infinite linear;
}

@keyframes animate {
  0% {
    background-position: left top, right bottom, left bottom, right top;
  }
  100% {
    background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px;
  }
}

#popup-content {
  width: 600px;
}

.item {
  display: flex;
  margin: 10px 0px;
  align-items: center;
}

.item .bar {
  width: 350px;
  background-color: royalblue;
  border-radius: 5px;
  height: 30px;
}

.item .name {
  width: 150px;
  padding: 10px;
}

.item .time {
  width: 100px;
  padding: 10px;
}
