body {
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 0.5rem 0.3rem;

  --bg: white;
  --text: black;
  --button-bg: #f0f0f0;
  --button-text: black;

  --accent: #FE273F;

  background: var(--bg);
  color: var(--text);
}

@media (prefers-color-scheme: dark) {
  body {
    --bg: #1f2028;
    --text: #F3F3F3;
    --button-bg: #1d2026;
    --button-text: #F3F3F3;
  }

.title {
  margin-top: 0 !important;
  font-size: large !important;
  font-family: "Arial Black", Helvetica, sans-serif !important;
  font-weight: 900 !important;
  font-stretch: condensed !important;
  opacity: 0.8;

  text-decoration: underline;
  text-decoration-color: var(--accent);
}

.buttons {
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
  opacity: 0.5;
}

.blockButton {
  padding: 1rem 0.5rem;
}

button {
  position: relative;
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: var(--button-bg);
  color: var(--text);
  font-size: 0.8rem;
  margin: 0.35rem 0rem;
}

button::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background-image: repeating-linear-gradient(
  -45deg, grey 0%, grey 5%, transparent 5%, transparent 10%
  );
  background-size: 15px, 15px;
  z-index: -1;
  border-radius: inherit;
}

button:hover::before {
  background-image: repeating-linear-gradient(
  -45deg, var(--accent) 0%, var(--accent) 5%, transparent 5%, transparent 10%
  );
  animation: animate 2s infinite linear;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 45% 45%;
  }
}

#popup-content {
  width: 600px;
}

.item {
  display: flex;
  margin: 10px 0px;
  align-items: center;
}

.item .bar {
  width: 350px;
  background-color: royalblue;
  border-radius: 5px;
  height: 30px;
}

.item .name {
  width: 150px;
  padding: 10px;
}

.item .time {
  width: 100px;
  padding: 10px;
}
